{% extends './base_client.html' %}
{% block title %}{{obj_Product.Name}}{% endblock %}
{% block seo_tag %}
    <meta name="description" content="{{obj_Product.Name}}">
    <meta name="keywords" content="{{obj_Product.Name}}" />
    <link rel="canonical" href="{% url 'detail_product_client' slug=obj_Product.Slug %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="{{obj_Product.Name}}">
    <meta property="og:description" content="{{obj_Product.Name}}">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'detail_product_client' slug=obj_Product.Slug %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col lg:flex-row items-center lg:items-start lg:justify-between gap-[20px] ">
        <div class="grid grid-cols-2 w-full lg:w-[50%] gap-2 px-2 lg:px-none">
            {% for i in obj_Product.list_photo.all %}
                <a data-fancybox="gallery" href="{{ i.Avatar.url }}" class=" overflow-hidden">
                    <img alt="img" class="w-full h-full transition object-fill" src="{{i.Avatar.url}}" />
                </a>
            {% endfor %}
        </div>
        <div class="flex flex-col w-full h-full lg:w-[50%] px-[20px] lg:px-none text-[#11284A] lg:text-black">
            <h1 class="uppercase text-[26px] lg:text-[36px] font-bold lg:font-medium">{{obj_Product.Name}}</h1>
            <span class="hidden lg:block text-[24px] font-medium format_number">{{obj_Product.list_size.all.last.Price}}đ</span>
            <div class="flex justify-center">
                <span class="block lg:hidden text-[20px] font-bold format_number bg-[#11284A] text-white rounded-md px-3 py-1 my-3">GIÁ: {{obj_Product.list_size.all.last.Price}} VNĐ</span>
            </div>
            <p class="font-normal text-[13px] lg:text-[16px]">{{obj_Product.Introduce}}</p>
            <div class="flex flex-col mt-3">
                <div class="flex flex-col border-t-[1px] border-[#ddd]" >
                    <div class="click_pr cursor-pointer flex gap-2 py-3">
                        <div class=" flex items-center">
                            <svg class="open_icon_pr" width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                    fill="#11284A" />
                            </svg>
                            <svg class="close_icon_pr hidden" width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                    fill="#11284A" />
                            </svg>
                        </div>
                        <span  class="font-normal text-[13px] lg:text-[15px] lg:nt-medium uppercase">
                            Mô Tả Sản Phẩm
                        </span>
                    </div>
                    <p class="hidden tab_pr py-2 lg:py-3">
                        {{obj_Product.Describe}}
                    </p>
                </div>
                <div class="flex flex-col border-t-[1px] border-[#ddd]" >
                    <div class="click_pr cursor-pointer flex gap-2 py-3">
                        <div class=" flex items-center">
                            <svg class="open_icon_pr" width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                    fill="#11284A" />
                            </svg>
        
                            <svg class="close_icon_pr hidden"  width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                    fill="#11284A" />
                            </svg>
                        </div>
                        <span  class="font-normal text-[13px] lg:text-[15px] lg:nt-medium uppercase">
                            Thành phần chính
                        </span>
                    </div>
                    <p class="hidden tab_pr py-2 lg:py-3">
                        {{obj_Product.Main_ingredients}}
                    </p>
                </div>
                <div class="flex flex-col border-t-[1px] border-[#ddd]" >
                    <div class="click_pr cursor-pointer flex gap-2 py-3">
                        <div class=" flex items-center">
                            <svg class="open_icon_pr" width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                    fill="#11284A" />
                            </svg>
        
                            <svg class="close_icon_pr hidden"  width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                    fill="#11284A" />
                            </svg>
                        </div>
                        <span  class="font-normal text-[13px] lg:text-[15px] lg:nt-medium uppercase">
                            Cách sử dụng
                        </span>
                    </div>
                    <p class="hidden tab_pr py-2 lg:py-3">
                        {{obj_Product.How_use}}
                    </p>
                </div>
                <!-- <div class="flex flex-col border-t-[1px] border-[#ddd]" >
                    <div class="click_pr cursor-pointer flex gap-2  py-3">
                        <div class=" flex items-center">
                            <svg class="open_icon_pr" width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                    fill="#11284A" />
                            </svg>
        
                            <svg class="close_icon_pr hidden"  width="25" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                    fill="#11284A" />
                            </svg>
                        </div>
                        <span  class="font-normal text-[13px] lg:text-[15px] lg:nt-medium uppercase">
                            Bảng thành phần
                        </span>
                    </div>
                    <p class="hidden tab_pr py-2 lg:py-3">
                        {{obj_Product.Ingredients_table}}
                    </p>
                </div> -->
                <script>
                    $(document).ready(function() {
                        $('.click_pr').on('click', function() {
                            // Lấy phần tử tab_pr tương ứng trong cùng khối div
                            const tab = $(this).next('.tab_pr');
                            const openIcon = $(this).find('.open_icon_pr');
                            const closeIcon = $(this).find('.close_icon_pr');

                            // Đóng tất cả các tab khác và đặt lại icon, nền
                            $('.tab_pr').not(tab).slideUp();
                            $('.click_pr').not($(this)).removeClass('bg-[#f8f7f7]');
                            $('.open_icon_pr').not(openIcon).removeClass('hidden');
                            $('.close_icon_pr').not(closeIcon).addClass('hidden');

                            // Toggle hiển thị của tab_pr
                            tab.slideToggle(200);

                            // Chuyển đổi icon và thêm/xóa nền
                            openIcon.toggleClass('hidden');
                            closeIcon.toggleClass('hidden');
                            // $(this).toggleClass('bg-[#f8f7f7]');
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center mt-[20px] lg:mt-[50px] gap-[20px] lg:gap-[50px] w-full">
        <h2 class="whitespace-nowrap uppercase flex items-center justify-center text-[20px] lg:text-[40px] bg-[#11284A] lg:bg-transparent font-bold text-[#FBFBFB] lg:text-black lg:rounded-md w-full lg:w-[450px] h-[50px] lg:h-[80px]">
            NGHIÊM CỨU LÂM SÀN
        </h2>
        <div class="flex flex-col lg:flex-row items-center justify-center w-full gap-[10px] lg:gap-[25px] p-[15px] lg:p-none">
            {% for i in obj_Product.list_photo_ncls.all %}
                <a data-fancybox="gallery-ncls" href="{{ i.Avatar.url }}" class="">
                    <img alt="banner" class="w-full lg:w-[788px] lg:h-[788px] rounded-md" src="{{i.Avatar.url}}" />
                </a>
            {% endfor %}
        </div>
    </div>
    <div class=" flex lg:hidden flex-col w-full h-full items-center justify-center font-normal text-[20px] divide-y-[2px]  divide-white text-white">
        <div class="flex flex-col w-full">
            <div  class="click_tab_product_mobile1 uppercase grow flex items-center justify-center w-full p-2 font-bold text-[] text-[#11284A]">
                RELATED PRODUCTS
            </div>
            <div class="tab_product_mobile1  grid grid-cols-2 gap-[20px] w-full p-[20px]" >
                {% for i in list_Product %}
                <div class="product-item flex flex-col items-center justify-between gap-3 w-full h-full">
                    <a href="{% url 'detail_product_client' slug=i.Slug %}">
                        <img alt="img" class="w-full" src="{{i.Avatar.url}}"/>
                    </a>
                    <div class="flex flex-col items-center justify-between h-full  gap-4 mt-2 w-full">
                        <a href="{% url 'detail_product_client' slug=i.Slug %}" class="uppercase font-medium text-[10px] text-[#11284A] text-center">
                            {{i.Name}}
                        </a>
                        <div class="flex flex-col items-center justify-end h-full  gap-4 mt-2 w-full">
                            <div class="relative w-full">
                                <div class="click_tab_size_product z-20 hover:cursor-pointer relative flex items-center w-full h-[20px] md:h-[30px]  border-[1px] border-[#11284A] rounded-full" style="background: url('/upload/website/background.png') no-repeat center center/cover;">
                                    <div class="absolute bottom-3 md:bottom-[1.35rem] left-8">
                                        <div class="relative flex items-center justify-center">
                                            <img alt="img" class="w-[65px] h-[16px]" src="/upload/website/background.png" />
                                            <span class=" absolute inset-0 font-medium text-[8px] italic text-[#11284A]  whitespace-nowrap text-center">Chọn kích thước</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-between w-full pl-[40px] pr-[15px]">
                                        <span class="name-display font-medium text-[8px]  text-[#11284A]">
                                            {{i.list_size.all.last.Name}}
                                        </span>
                                        <span>
                                            <svg class="open_tab_size_product" width="10" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                                    fill="#11284A" />
                                            </svg>
                                            <svg class="close_tab_size_product" style="display: none;" width="10" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                                    fill="#11284A" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div style="display: none;"  class="tab_size_product z-10 absolute top-[10px] md:top-[18px] pt-[12px] pl-[40px] pr-[15px] flex flex-col px-3  w-full bg-[#FBFBFB] bg-opacity-90 rounded-b-md border-b-[1px] border-r-[1px] border-l-[1px] border-[#11284A]">
                                    {% for j in i.list_size.all %}
                                    <a class="size-option font-medium text-[8px] text-[#11284A] py-[2px]" data-name="{{ j.Name }}" data-price="{{ j.Price }}">{{j.Name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <span class="uppercase z-[-2] font-bold text-[12px] text-black text-center">
                                GIÁ: <span class="format_number price-display">{{i.list_size.all.last.Price}}</span> VNĐ 
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(".click_tab_product_mobile").click(function () {
                    $(".tab_product_mobile").slideToggle(200).toggleClass("open");; // Ẩn/Hiện tab_about
                    $(".open_tab_product_mobile, .close_tab_product_mobile").toggle(); // Đổi icon
                });

                $(".click_tab_product_mobile1").click(function () {
                    $(".tab_product_mobile1").slideToggle(200).toggleClass("open");; // Ẩn/Hiện tab_about
                    $(".open_tab_product_mobile1, .close_tab_product_mobile1").toggle(); // Đổi icon
                });

                $(".click_tab_product_mobile2").click(function () {
                    $(".tab_product_mobile2").slideToggle(200).toggleClass("open");; // Ẩn/Hiện tab_about
                    $(".open_tab_product_mobile2, .close_tab_product_mobile2").toggle(); // Đổi icon
                });
            });
        </script>
    </div>
    <h2 class="uppercase hidden lg:flex items-center justify-center  text-[36px] bg-[#11284A] font-extrabold text-[#FBFBFB] rounded-md w-[450px] h-[80px] mt-[50px]">
        RELATED PRODUCTS
    </h2>
    <div class="hidden lg:grid grid-cols-3 place-items-center items-center w-[1274px] mt-[50px] gap-[50px]">
        {% for i in list_Product %}
        <div class="product-item flex flex-col items-center w-[306px] h-full gap-3">
            <a href="{% url 'detail_product_client' slug=i.Slug %}">
                <img alt="img" class="w-full" src="{{i.Avatar.url}}"/>
            </a>
            <div class="flex flex-col items-center justify-between h-full  gap-6 mt-2 grow">
                <a href="{% url 'detail_product_client' slug=i.Slug %}" class="uppercase font-medium text-[20px] text-[#11284A] text-center">
                    {{i.Name}}
                </a>
                <div class="flex flex-col items-center justify-end h-full  gap-4 mt-2 grow">
                    <div class="relative">
                        <div class="click_tab_size_product hover:cursor-pointer z-20 relative flex items-center w-[264px] h-[30px]  border-[1px] border-[#11284A] rounded-full" style="background: url('/upload/website/background.png') no-repeat center center/cover;">
                            <div class="absolute bottom-6 left-8">
                                <div class="relative flex items-center justify-center">
                                    <img alt="img" class="w-[100px] h-[18px]" src="/upload/website/background.png" />
                                    <span class=" absolute inset-0 font-medium text-[12px] italic text-[#11284A]  whitespace-nowrap text-center">Chọn kích thước</span>
                                </div>
                            </div>
                            <div class="flex items-center justify-between w-full pl-[40px] pr-[15px]">
                                <span class="name-display font-medium text-[12px]  text-[#11284A]">
                                    {{i.list_size.all.last.Name}}
                                </span>
                                <span>
                                    <svg class="open_tab_size_product" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 0.195007C2.7 2.49501 5 5.15501 7.22 7.89501H5.89C6.99 6.53501 8.12001 5.18501 9.32001 3.89501C10.51 2.60501 11.75 1.34501 13.12 0.195007C11.48 3.34501 9.4 6.17501 7.23 8.95501L6.56 9.80501C4.16 6.75501 1.81 3.66501 0 0.195007Z"
                                            fill="#11284A" />
                                    </svg>
                                    <svg class="close_tab_size_product" style="display: none;" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.1201 9.80493C10.4201 7.50493 8.12012 4.84493 5.90012 2.10493H7.23012C6.13012 3.46493 5.00011 4.81493 3.80011 6.10493C2.61011 7.39493 1.37012 8.65493 0.00012207 9.80493C1.64012 6.65493 3.72012 3.82493 5.89012 1.04493L6.56012 0.194931C8.96012 3.24493 11.3101 6.33493 13.1201 9.80493Z"
                                            fill="#11284A" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div style="display: none;"  class="tab_size_product z-10 absolute top-[15px] pt-[15px] pl-[40px] pr-[15px] flex flex-col px-3  w-full bg-[#FBFBFB] bg-opacity-90 rounded-b-md border-b-[1px] border-r-[1px] border-l-[1px] border-[#11284A]">
                            {% for j in i.list_size.all %}
                            <a class="size-option font-medium text-[12px] text-[#11284A] py-1 cursor-pointer" data-name="{{ j.Name }}" data-price="{{ j.Price }}">{{j.Name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <span class="uppercase z-[-2] font-bold text-[25px] text-black text-center">
                        GIÁ: <span class="format_number price-display">{{i.list_size.all.last.Price}}</span> VNĐ 
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
        <script>
            $(document).ready(function(){
                $('.product-item .size-option').on('click', function() {
            var name = $(this).data('name');
            var price = $(this).data('price');

            var parent = $(this).closest('.product-item');

            // Cập nhật tên size
            parent.find('.name-display').text(name);

            // Cập nhật giá có format số
            parent.find('.price-display').text(formatNumber(price));
            });
            });
        </script>
        <script>
            $(document).ready(function () {
                $(".click_tab_size_product").click(function (event) {
                    event.stopPropagation(); // Ngăn chặn sự kiện click lan ra ngoài
        
                    let $tab = $(this).next(".tab_size_product");
                    let $openIcon = $(this).find(".open_tab_size_product");
                    let $closeIcon = $(this).find(".close_tab_size_product");
        
                    // Ẩn tất cả dropdown khác
                    $(".tab_size_product").not($tab).slideUp(200).removeClass("open");
                    $(".open_tab_size_product").not($openIcon).show();
                    $(".close_tab_size_product").not($closeIcon).hide();
        
                    // Toggle dropdown hiện tại
                    $tab.slideToggle(200).toggleClass("open");
                    $openIcon.toggle();
                    $closeIcon.toggle();
                });
        
                // Click ra ngoài sẽ ẩn dropdown
                $(document).click(function () {
                    $(".tab_size_product").slideUp(200).removeClass("open");
                    $(".close_tab_size_product").hide();
                    $(".open_tab_size_product").show();
                });
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Lấy vị trí cuộn từ LocalStorage
                const scrollPosition = localStorage.getItem("scrollPosition");
                if (scrollPosition) {
                    window.scrollTo(0, scrollPosition);
                    localStorage.removeItem("scrollPosition"); // Xóa sau khi cuộn
                }
        
                // Lưu vị trí trước khi chuyển trang
                document.querySelectorAll("a").forEach(link => {
                    link.addEventListener("click", function () {
                        localStorage.setItem("scrollPosition", window.scrollY);
                    });
                });
            });
        </script>
    </div>
</main>
{% endblock %}