{% extends './base_client.html' %}
{% block title %}Blog{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog" />
    <link rel="canonical" href="{% url 'nav_blog_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Blog">
    <meta property="og:description" content="Blog">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'nav_blog_client' %}">
{% endblock %}
{% block content %}
<main class="flex flex-col items-center w-full mb-6">
    <div class="hidden lg:flex flex-col items-center">
        <h1 class="uppercase font-medium text-[64px] text-black">
            Blog
        </h1>
        <div class="w-[128px] h-[2px] bg-[#11284A]"></div>
    </div>
    <div class="flex lg:hidden flex-col items-center">
        <h1 class="uppercase font-normal ff-bb text-[32px] lg:text-[40px] text-[#11284A] text-center mb-2">
            Blog
        </h1>
    </div>
    <div class="grid grid-cols-1  lg:grid-cols-3 gap-[15px] lg:gap-[20px] p-3 w-full lg:w-[1500px]  lg:mt-[50px]">
        {% for i in list_BlogPost %}
            <a href="{% url 'nav_blog_detail_client' slug=i.Slug %}" class="cursor-pointer">            
                <div class="flex gap-3 items-start">
                    <div class=" pt-[7px]">
                        <img alt="img" src="{% if i.Avatar %}{{i.Avatar.url|default:''}}{% endif %}" class="min-w-[100px] max-w-[100px] lg:min-w-[150px] lg:max-w-[150px]  h-auto" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="p-0 m-0 font-bold text-[15px] lg:text-[20px]">{{i.Title}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="pagination {% if list_BlogPost.paginator.num_pages <= 1 %}hidden{% endif %}  flex items-center justify-center py-3" >
        <ul class="flex items-center justify-center">page</ul>
    </div>
    <div class="flex lg:hidden flex-col items-center  gap-[20px] lg:py-[58px] lg:gap-[58px] mt-[25px]">
        <span class="font-bold text-black text-[21px] lg:text-[55px]">
            THE RESULTS ARE IN
        </span>
        <div class="w-full flex justify-center">
            <div class="swiper mySwiper2 w-[362px] h-[170px] md:w-[600px] md:h-[300px] lg:w-[1280px] lg:h-[600px] ">
                <div class="swiper-wrapper">
                    {% for i in list_image_slider_3 %}
                    <div class="swiper-slide">
                        <img alt="img" class="w-[362px] h-[170px] md:w-[600px] md:h-[300px] lg:w-[1280px] lg:h-[600px]" src="{% if i.Photo %}{{i.Photo.url}}{% endif %}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Chỉ có dấu chấm -->
                <div class="swiper-pagination hidden lg:block"></div>
            </div>
            <script>
                var swiper = new Swiper(".mySwiper2", {
                  loop: true, 
                  autoplay: { delay: 3000 }, // Tự động chạy
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                });
              </script>
              <style>
                /* Màu xám cho chấm tròn */
                .swiper-pagination-bullet {
                    background: #9ca3af !important; /* Tailwind gray-400 */
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    opacity: 1;
                }
            
                /* Màu trắng và kích thước lớn hơn khi active */
                .swiper-pagination-bullet-active {
                    background: #ffffff !important; /* Tailwind white */
                    width: 22px;
                    height: 22px;
                }
            </style>
        </div>
    </div>
</main>
<style>
    .pagination ul {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      /* height: 35px; */
      /* border-style: solid; */
      /* border-color: #e5e7eb; */
      /* border-width: 1px; */
      border-radius: 0.375rem;
    }

    .pagination ul a {
      color: white;
      list-style: none;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
      --tw-bg-opacity: 1;
      background-color: #11284A;
    }

    .pagination ul a.numb {
      list-style: none;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0 3px; */
      line-height: 35px;
      padding-bottom: 3px;
    }

    .pagination ul a.numb.first {
      margin: 0px 3px 0 -5px;
    }

    .pagination ul a.numb.last {
      margin: 0px -5px 0 3px;
    }

    .pagination ul a.dots {
      font-size: 22px;
      cursor: default;
    }

    .pagination ul a.btn {
      /* border-radius: 50px; */
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      --tw-bg-opacity: 1;
      background-color: #11284A;
    }

    .pagination a.active,
    .pagination ul a.numb:hover,
    .pagination ul a:first-child:hover,
    .pagination ul a:last-child:hover {
      color: white;
      /* background: #22c55e; */
      --tw-bg-opacity: 1;
      background-color: #11284A;
      font-weight: 600;
      font-size: 20px;
      color: white;
    }
  </style>
<script>
    // selecting required element
    const element = document.querySelector(".pagination ul");
    let totalPages = {{list_BlogPost.paginator.num_pages}};
    let page = {{list_BlogPost.number}};
    let s = "{{ s|default:'' }}";  // Nếu s không có giá trị, dùng giá trị mặc định là ''
    let f1 = "{{ f1|default:'' }}";  // Nếu f không có giá trị, dùng giá trị mặc định là ''
    let f2 = "{{ f2|default:'' }}";  // Nếu st không có giá trị, dùng giá trị mặc định là ''

    //calling function with passing parameters and adding inside element which is ul tag
    element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
        let liTag = '';
        let active;
        let beforePage = page - 1;
        let afterPage = page + 1;

        // Hiển thị nút "Trang trước" nếu không phải là trang đầu tiên
        if (page > 1) {
            liTag += `<a href="?p=${page - 1}&s=${s}" class="btn prev"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        // Nếu tổng số trang nhỏ hơn 8, hiển thị tất cả các trang mà không cần dấu ba chấm
        if (totalPages < 8) {
            for (let i = 1; i <= totalPages; i++) {
                active = (page == i) ? "active" : "";
                liTag += `<a href="?p=${i}&s=${s}" class="numb ${active}"><span>${i}</span></a>`;
            }
        } else {
            // Nếu tổng số trang >= 8, hiển thị có điều kiện các trang với dấu ba chấm
            if (page > 2) {
                liTag += `<a href="?p=1&s=${s}" class="first numb"><span>1</span></a>`;
                if (page > 3) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
            }

            // Điều chỉnh trước và sau trang hiện tại
            if (page == totalPages) {
                beforePage = beforePage - 2;
            } else if (page == totalPages - 1) {
                beforePage = beforePage - 1;
            }
            if (page == 1) {
                afterPage = afterPage + 2;
            } else if (page == 2) {
                afterPage = afterPage + 1;
            }

            // Hiển thị các trang trong khoảng trước và sau trang hiện tại
            for (let plength = beforePage; plength <= afterPage; plength++) {
                if (plength > totalPages) continue;
                if (plength == 0) plength = 1;
                active = (page == plength) ? "active" : "";
                liTag += `<a href="?p=${plength}&s=${s}" class="numb ${active}"><span>${plength}</span></a>`;
            }

            // Hiển thị trang cuối cùng với dấu ba chấm nếu cần
            if (page < totalPages - 1) {
                if (page < totalPages - 2) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
                liTag += `<a href="?p=${totalPages}&s=${s}" class="last numb"><span>${totalPages}</span></a>`;
            }
        }

        // Hiển thị nút "Trang sau" nếu không phải là trang cuối cùng
        if (page < totalPages) {
            liTag += `<a href="?p=${page + 1}&s=${s}" class="btn next"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        element.innerHTML = liTag;
        return liTag;
    }
</script>
{% endblock %}