{% extends './base_client.html' %}
{% block title %}Nghiên cứu lâm sàn{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Nghiên cứu lâm sàn">
    <meta name="keywords" content="Nghiên cứu lâm sàn" />
    <link rel="canonical" href="{% url 'nav_nghien_cuu_lam_san' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Nghiên cứu lâm sàn">
    <meta property="og:description" content="Nghiên cứu lâm sàn">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'nav_nghien_cuu_lam_san' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center w-[1597px] mt-[50px] gap-[70px]">
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h1 class="uppercase font-bold text-[40px] text-black">
                Nghiên cứu khoa học
            </h1>
            <a href="{% url 'link_nghien_cuu_khoa_hoc_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                <img alt="Hình ảnh 1" src="{{obj1.Photo1.url|default:''}}"  class="w-full h-full object-cover" />
            </a>
        </div>
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h2 class="uppercase font-bold text-[40px] text-black">
                Kết quả lâm sàn
            </h2>
            <a href="{% url 'link_ket_qua_lam_san_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                <img alt="Hình ảnh 2" src="{{obj2.Photo1.url|default:''}}"  class="w-full h-full object-cover" />
            </a>
        </div>
    </div>
</main>
{% endblock %}