{% extends './base_client.html' %}
{% block title %}Đối tác miền Bắc{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Đối tác miền Bắc">
    <meta name="keywords" content="Đối tác miền Bắc" />
    <link rel="canonical" href="{% url 'select_kvmb_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Đối tác miền Bắc">
    <meta property="og:description" content="Đối tác miền Bắc">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'select_kvmb_client' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="hidden lg:flex flex-col items-center">
        <h1 class="uppercase font-medium text-[25px] lg:text-[64px] text-[#11284A]">
            Danh sách đối tác
        </h1>
        <div class="w-[366px] h-[3px] bg-[#11284A] mt-[15px]"></div>
        <span class="uppercase font-medium text-[15] lg:text-[40px] text-[#11284A] mt-[30px]">Khu vực miền Bắc</span>
    </div>
    <div class="flex lg:hidden flex-col items-center justify-center bg-[#11284A] w-full h-[34px]">
        <span class="uppercase font-normal text-[16px] lg:text-[40px] text-white">Khu vực miền Bắc</span>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full  mt-[20px] lg:mt-[50px] gap-6 px-[20px]">
        {% for i in list_Edit_dsdt_mb %}
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="{{i.Photo.url|default:''}}" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">{{i.Name}}</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">{{i.Address}}</span>
                <a href="{{i.Link}}" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">
                    Xem thêm
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/about_icon.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Phòng khám da liễu bác sĩ Tuyết</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">97 Trần Cao Vân, phường Đông Vệ, TP Thanh Hóa</span>
                <a href="https://thammythuydung.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/tmv-Thuy-Dung-267x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Clinic Thùy Dung</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Phòng khám Thùy Dung, Đường Bắc Sơn, Hoàng Văn Thụ, Thái Nguyên</span>
                <a href="https://drthuyan.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/images-1.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Phòng khám da Dr.Liem</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">1 Đinh Công Tráng, Quang Trung, Thành phố Vinh, Nghệ An</span>
                <a href="http://drliem.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/images-1.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">AKINA Center - Hệ thống Phòng khám Da liễu Quốc tế</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">29 Đào Tấn, TP Huế</span>
                <a href="https://www.facebook.com/hethongakinacenter" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Dermatology-Clinic-Logo-1.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">La rossa skin & AESTHETIC</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Số 2 ngõ 45 trần thái tông, dịch vọng, cầu giấy, hà nội</span>
                <a href="https://www.dalieuthammyhungbinh.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/339255203_563078855804348_1583607770414286772_n-401x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Dr. Skin Dermaclinic & Medispa</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">25 Lam Sơn, Nha Trang, Vietnam</span>
                <a href="https://www.facebook.com/DrSkinMedispa/?locale=vi_VN" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/herskin.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Herskin & Spa</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">CN1: 63 Nguyễn Hy Quang, Hà Nội CN2: 29 Hoàng Hoa Thám, ĐN CN3: 95 Văn Cao, Hải Phòng CN4: 178 Đặng Thái Thân, Vinh</span>
                <a href="https://herskincare.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/mnd-403x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">MND Clinic</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Số 10 Hàng Vôi- Hoàn Kiếm- Hà Nội</span>
                <a href="https://mndcitta.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Bleu-Spa-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Bleu Spa</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">51 Lê Ngọc Hân, Phạm Đình Hổ, Hai Bà Trưng, Hà Nội</span>
                <a href="https://bleubeauteclinic.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/trayce.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Trayce Laser & Skin Care</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">16 Hàm Long, Quận Hoàn Kiếm, TP. Hà Nội</span>
                <a href="http://www.trayce.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/images.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">PKDL Bs Lê Thị Thái Hà</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Cs 1: 1724/3 Nguyễn Ái Quốc, khu phố 6, P.Trung Dũng, Tp. Biên Hoà. Cs 2: số 8 ngõ 26 Hoàng Cầu, Đống Đa, Hà Nội</span>
                <a href="" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Skin-deBao-logo.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Skin deBao Facial Studio</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">số nhà 8 - 268/21/55 Ngọc Thuỵ, Long Biên, HN</span>
                <a href="https://www.facebook.com/skin.debao/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/dr-Hai-le.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Dr Hải Lê</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Dr Hai Le - 314 Phố Huế, Hai Bà Trưng, Hà Nội</span>
                <a href="https://www.drhaile.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Lam-Beaute-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">LAM Beauté - Nông Thu Oanh</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">314 Thuỵ Khuê, Tây Hồ, Hà Nội.</span>
                <a href="https://m.facebook.com/61561330887860/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Fonci-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Ms Thu Nguyễn - Fonci Medical Spa</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">28 Bát Sứ, Hoàn Kiếm, Hà Nội.</span>
                <a href="https://www.facebook.com/p/Fonci-Skin-Medical-100063689283546/?locale=vi_VN" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/rawskin-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Raw Skincenter - Trâm Nguyễn</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">46 Hàng Bún, Ba Đình, Hà Nội</span>
                <a href="https://www.facebook.com/rawskin90/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/PKCK-DL-Dr-Tham-Nguyen-Eco.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">PKCK DL Dr Thắm Nguyễn Eco</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">141 Thuỷ Nguyên, KĐT Ecopark, Phụng Công, Văn Giang, Hưng Yên</span>
                <a href="https://dalieuthamnguyen.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/NT-skinlab-399x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Ms Ngọc Trân - NT Skinlab</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">SH02.12 Vinhome Ocean Park, Hà Nội.</span>
                <a href="https://m.facebook.com/NT.SkinLab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Pasi-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Ms Phương Anh - Pasi Skinlab</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">595 Quang Trung, Hà Đông, HN</span>
                <a href="https://www.facebook.com/p/Pasi-Skinlab-61553330076302/?locale=it_IT" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Beauty-LAB-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Beauty Lab clinic</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Beauty Lab clinic - số 5 ngõ 26 Nguyên Hồng, Đống Đa, HN</span>
                <a href="https://www.facebook.com/vnbeautylab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/dr-Nghi-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">PK Laser Thẩm mỹ Aeslatek by Dr.Nghị</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">44 P.Trung Phụng, Phương Liên, Đống Đa, Hà Nội</span>
                <a href="https://aeslatek.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/Lennie-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Lennie Skinlap</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">990 Ngô Quyền, An Hải Bắc, Sơn Trà , Đà Nẵng</span>
                <a href="https://www.facebook.com/LennieSkinLab" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/hms-476x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">HMS Beauty</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">CS 1: Số 6, ngõ 21, Trương Công Giai, p. Dịch Vọng Cầu Giấy, Hà Nội</span>
                <a href="https://www.facebook.com/HuongsMedicalSkinlab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/le-bali-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Bs Phạm Ly - VTM Le’Bali</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">18 Yên Lãng, Đống Đa, Hà Nội.</span>
                <a href="https://www.facebook.com/vtmlebali/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/moncher-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">Ms Linh - Mon Cher Skincare & Spa</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">70 Lê Mao Kéo Dài, Tp.Vinh, T.Nghệ An</span>
                <a href="https://www.facebook.com/people/Mon-Cher-Skincare-Spa/100086172468131/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="min-w-[50px] max-w-[50px] h-auto " src="/upload/kvmb/yellow-beauty-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[18px] lg:text-[25px] text-[#11284A] ff-bb ">BS Hạnh Mai - Yellow Beauty Center</span>
                <span class="uppercase font-medium text-[13px] text-[#11284A] ">Số 10 Mai Hắc Đế, Đà Nẵng</span>
                <a href="https://www.facebook.com/yellowbeautycenter.dn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[12px] lg:text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div> -->
    </div>
    <div class="  flex lg:hidden items-center justify-center text-white  w-full h-[100px] lg:h-[450px] bg-[#11284A] text-center uppercase font-bold text-[30px]  overflow-hidden mt-[20px] lg:mt-[58px]">
        <img alt="Hình ảnh 3" src="{% if obj_Count_1.Photo3  %}{{obj_Count_1.Photo3.url}}{% endif %}"  class="w-full h-full object-cover" />
    </div>
    <div class="flex lg:hidden flex-col items-center py-[20px] gap-[20px] lg:py-[58px] lg:gap-[58px]">
        <span class="font-bold text-[#11284A] text-[21px] lg:text-[55px]">
            THE RESULTS ARE IN
        </span>
        <div class="w-full flex justify-center">
            <div class="swiper mySwiper2 w-[362px] md:w-[600px] lg:w-[1280px] h-auto ">
                <div class="swiper-wrapper">
                    {% for i in list_image_slider_3 %}
                    <div class="swiper-slide">
                        <img class="w-[362px]  md:w-[600px]  lg:w-[1280px] h-auto" src="{{i.Photo.url}}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Chỉ có dấu chấm -->
                <div class="swiper-pagination hidden lg:block"></div>
            </div>
            <script>
                var swiper = new Swiper(".mySwiper2", {
                  loop: true, 
                  autoplay: { delay: 3000 }, // Tự động chạy
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                });
              </script>
              <style>
                /* Màu xám cho chấm tròn */
                .swiper-pagination-bullet {
                    background: #9ca3af !important; /* Tailwind gray-400 */
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    opacity: 1;
                }
            
                /* Màu trắng và kích thước lớn hơn khi active */
                .swiper-pagination-bullet-active {
                    background: #ffffff !important; /* Tailwind white */
                    width: 22px;
                    height: 22px;
                }
            </style>
        </div>
    </div>
</main>
{% endblock %}