{% extends './base.html' %}
{% block title %}Trang thay dổi TT & GT{% endblock %}
{% block content %}
<div class="w-full flex-col ">
    <div class="flex items-center justify-between border-b-[1px] border-[#0e203c] max-h-[50px] px-3 py-2 font-bold">
        <span class="uppercase w-full flex justify-center lg:justify-start">
            Trang thay dổi TT & GT
        </span>
        <div class="flex items-center gap-3 max-h-[60px] lg:max-h-none">
            <form  class=" relative flex items-center justify-center">
                <input value="{{s}}" name="s" class="font-medium text-sm rounded-full border-[1px] border-[#0e203c] px-4" placeholder="Tìm kiếm"
                    style="background: transparent;" />
                <button type="submit" class="absolute right-2">
                    <svg class="w-[25px]" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                    <g>
                        <path
                            d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z">
                        </path>
                    </g>
                </svg>
                </button>
            </form>
            <a href="{% url 'change_ttgt1_add_admin' %}">
                <svg class="w-[35px] fill-[#0e203c]" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.533px" height="438.533px"
                    viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;"
                    xml:space="preserve">
                    <g>
                        <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0
                            c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267
                            c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407
                            s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062
                            C438.533,179.485,428.732,142.795,409.133,109.203z M347.179,237.539c0,4.948-1.811,9.236-5.428,12.847
                            c-3.62,3.614-7.901,5.428-12.847,5.428h-73.091v73.084c0,4.948-1.813,9.232-5.428,12.854c-3.613,3.613-7.897,5.421-12.847,5.421
                            h-36.543c-4.948,0-9.231-1.808-12.847-5.421c-3.617-3.621-5.426-7.905-5.426-12.854v-73.084h-73.089
                            c-4.948,0-9.229-1.813-12.847-5.428c-3.616-3.61-5.424-7.898-5.424-12.847v-36.547c0-4.948,1.809-9.231,5.424-12.847
                            c3.617-3.617,7.898-5.426,12.847-5.426h73.092v-73.089c0-4.949,1.809-9.229,5.426-12.847c3.616-3.616,7.898-5.424,12.847-5.424
                            h36.547c4.948,0,9.233,1.809,12.847,5.424c3.614,3.617,5.428,7.898,5.428,12.847v73.089h73.084c4.948,0,9.232,1.809,12.847,5.426
                            c3.617,3.615,5.428,7.898,5.428,12.847V237.539z"></path>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>
            </a>
        </div>
        <style>
            input:focus {
                outline: none !important;
            }
        </style>

    </div>
    <div class="flex flex-col gap-3 p-3">
        <div class="flex flex-col gap-1">
            <span class="font-semibold">1.Banner & Tiêu đề 1</span>
            <form method="post" action="{% url 'change_ttgt_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-2 w-full lg:w-[50%]">
                {% csrf_token %}
                <div class="flex gap-5">
                    <div class="flex flex-col gap-2 w-full">
                        <div class="flex flex-col gap-1">
                            <img alt="Hình ảnh 1" src="{% if obj.Photo1  %}{{obj.Photo1.url}}{% endif %}" class="w-full h-auto" />
                            <input type="file" class="rounded-md w-full"  accept="image/*" name="Photo1"  />
                            <input type="text" value="{{obj.Title1}}" class="rounded-md w-full" name="Title1" placeholder="Tiêu đề 1" />
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <button type="submit" class=" flex justify-center items-center w-full  p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                        Cập nhật
                    </button>
                </div>
            </form>
        </div>
        <div class="flex flex-col gap-1">
            <span  class="font-semibold text-[18px] hover:underline">
                2.Thành phần
            </span>
            <div class="w-full grid grid-cols-1 lg:grid-cols-4 gap-[15px]">
                {% for i in list_Edit_ttgt1 %}
                <div class="relative flex flex-col justify-between gap-[10px]  show">
                    <img class="w-full" src="{% if i.Photo %}{{i.Photo.url}}{% endif %}">
                    <div class="flex flex-col w-full gap-[10px] justify-between">
                        <p  class="w-full font-bold">{{i.Title}}</p>
                        <div class="flex gap-1 font-bold text-[16px] w-full">
                            <a href="{% url 'change_ttgt1_edit_admin' pk=i.pk %}" class=" cursor-pointer px-3 py-1 rounded bg-green-500 w-full text-center">Chỉnh sửa</a>
                            <a href="{% url 'about_tin_tuc_giai_thuong_detail_client' slug=i.Slug %}" target="_blank" class=" cursor-pointer px-3 py-1 rounded bg-sky-500 w-full text-center">Xem bài viết</a>
                        </div>
                    </div>
                    <form method="post"  action="{% url 'change_ttgt1_order_admin' %}" class="absolute top-3 left-3 flex gap-1 items-center fill-red-500">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{i.id}}"  />
                        <div class=" relative flex gap-1 items-center">
                            <input type="number" name="Order" value="{{i.Order}}" class="bg-[#0e203c] font-bold flex text-[18px] items-center text-white py-1 rounded-full border-[1px] border-sky-500 w-[80px] h-[30px]"  />
                            <button type="submit" class="absolute right-0 bg-sky-500 stroke-[#0e203c] w-[30px]  rounded-r-full">
                                <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" points="8.5,3 17.5,12 8.5,21 "  stroke-miterlimit="10" stroke-width="2"></polyline></svg>
                            </button>
                        </div>
                    </form>
                    <!-- <form method="get"  action="{% url 'change_ttgt1_admin' %}" class="absolute top-3 right-3 w-[30px] fill-red-500">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{i.id}}" class="" />
                        <button type="submit" class="fill-red-500 w-[30px]">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.434 72.437" style="enable-background:new 0 0 72.434 72.437;" xml:space="preserve">
                                <path style="" d="M36.22,0C16.212,0,0,16.215,0,36.223c0,19.999,16.212,36.214,36.22,36.214
                                    s36.214-16.215,36.214-36.214C72.434,16.215,56.228,0,36.22,0z M51.812,48.083l-4.565,4.565l-11.02-11.021L24.86,52.995
                                    l-4.565-4.565l11.367-11.367L20.639,26.04l4.568-4.565l11.02,11.02l11.349-11.343l4.565,4.565L40.792,37.063L51.812,48.083z"></path>
                                </svg>
                        </button>
                    </form> -->
                </div>
                {% endfor %}
            </div>
            <div class="pagination {% if list_BlogPost.paginator.num_pages <= 1 %}hidden{% endif %}  flex items-center justify-center py-3" >
                <ul class="flex items-center justify-center"></ul>
            </div>
        </div>
        
    </div>
</div>
<style>
    .pagination ul {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      /* height: 35px; */
      /* border-style: solid; */
      /* border-color: #e5e7eb; */
      /* border-width: 1px; */
      border-radius: 0.375rem;
    }

    .pagination ul a {
      color: white;
      list-style: none;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
      --tw-bg-opacity: 1;
      background-color: #11284A;
    }

    .pagination ul a.numb {
      list-style: none;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0 3px; */
      line-height: 35px;
      padding-bottom: 3px;
    }

    .pagination ul a.numb.first {
      margin: 0px 3px 0 -5px;
    }

    .pagination ul a.numb.last {
      margin: 0px -5px 0 3px;
    }

    .pagination ul a.dots {
      font-size: 22px;
      cursor: default;
    }

    .pagination ul a.btn {
      /* border-radius: 50px; */
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      --tw-bg-opacity: 1;
      background-color: #11284A;
    }

    .pagination a.active,
    .pagination ul a.numb:hover,
    .pagination ul a:first-child:hover,
    .pagination ul a:last-child:hover {
      color: white;
      /* background: #22c55e; */
      --tw-bg-opacity: 1;
      background-color: #11284A;
      font-weight: 600;
      font-size: 20px;
      color: white;
    }
  </style>
<script>
    // selecting required element
    const element = document.querySelector(".pagination ul");
    let totalPages = {{list_Edit_ttgt1.paginator.num_pages}};
    let page = {{list_Edit_ttgt1.number}};
    let s = "{{ s|default:'' }}";  // Nếu s không có giá trị, dùng giá trị mặc định là ''
    let f1 = "{{ f1|default:'' }}";  // Nếu f không có giá trị, dùng giá trị mặc định là ''
    let f2 = "{{ f2|default:'' }}";  // Nếu st không có giá trị, dùng giá trị mặc định là ''

    //calling function with passing parameters and adding inside element which is ul tag
    element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
        let liTag = '';
        let active;
        let beforePage = page - 1;
        let afterPage = page + 1;

        // Hiển thị nút "Trang trước" nếu không phải là trang đầu tiên
        if (page > 1) {
            liTag += `<a href="?p=${page - 1}&s=${s}" class="btn prev"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        // Nếu tổng số trang nhỏ hơn 8, hiển thị tất cả các trang mà không cần dấu ba chấm
        if (totalPages < 8) {
            for (let i = 1; i <= totalPages; i++) {
                active = (page == i) ? "active" : "";
                liTag += `<a href="?p=${i}&s=${s}" class="numb ${active}"><span>${i}</span></a>`;
            }
        } else {
            // Nếu tổng số trang >= 8, hiển thị có điều kiện các trang với dấu ba chấm
            if (page > 2) {
                liTag += `<a href="?p=1&s=${s}" class="first numb"><span>1</span></a>`;
                if (page > 3) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
            }

            // Điều chỉnh trước và sau trang hiện tại
            if (page == totalPages) {
                beforePage = beforePage - 2;
            } else if (page == totalPages - 1) {
                beforePage = beforePage - 1;
            }
            if (page == 1) {
                afterPage = afterPage + 2;
            } else if (page == 2) {
                afterPage = afterPage + 1;
            }

            // Hiển thị các trang trong khoảng trước và sau trang hiện tại
            for (let plength = beforePage; plength <= afterPage; plength++) {
                if (plength > totalPages) continue;
                if (plength == 0) plength = 1;
                active = (page == plength) ? "active" : "";
                liTag += `<a href="?p=${plength}&s=${s}" class="numb ${active}"><span>${plength}</span></a>`;
            }

            // Hiển thị trang cuối cùng với dấu ba chấm nếu cần
            if (page < totalPages - 1) {
                if (page < totalPages - 2) {
                    liTag += `<a class="dots"><span>...</span></a>`;
                }
                liTag += `<a href="?p=${totalPages}&s=${s}" class="last numb"><span>${totalPages}</span></a>`;
            }
        }

        // Hiển thị nút "Trang sau" nếu không phải là trang cuối cùng
        if (page < totalPages) {
            liTag += `<a href="?p=${page + 1}&s=${s}" class="btn next"><svg class="w-[30px] fill-white" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "></polygon></svg></a>`;
        }

        element.innerHTML = liTag;
        return liTag;
    }
</script>
<script>
    $(document).ready(function() {
        $('.open_input_Size').on('click', function() {
            $('.input_Size').toggle(); // Bật nếu ẩn, ẩn nếu bật
        });
    });
</script>
<script>
    function autoResize(el) {
        el.style.height = 'auto';
        el.style.height = el.scrollHeight + 'px';
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('textarea.autoresize').forEach(function (el) {
            autoResize(el);
            el.addEventListener('input', () => autoResize(el));
        });
    });
</script>
{% endblock %}