{% extends './base.html' %}
{% block title %}Trang thay đổi thông tin Trang chủ{% endblock %}
{% block content %}
<div class="w-full flex-col ">
    <div class="flex items-center justify-between border-b-[1px] border-[#0e203c] max-h-[50px] px-3 py-2 font-bold">
        <span class="uppercase w-full flex justify-center lg:justify-start">
            Trang thay đổi thông tin Trang chủ
        </span>
        <style>
            input:focus {
                outline: none !important;
            }
        </style>

    </div>
    <div class="flex flex-col gap-3 p-3">
        <div class="flex flex-col gap-1">
            <span href="{% url 'tab_best_sellers_client' %}" class="font-semibold text-[18px] hover:underline">
                1.Ảnh Slider đầu trang
            </span>
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-1">
                        {% for i in list_image_slider_1 %}
                        <div class="relative w-full h-auto">
                            <form method="post"  action="{% url 'image_slider_order_admin' %}" class="absolute top-3 left-3 flex gap-1 items-center fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}"  />
                                <div class=" relative flex gap-1 items-center">
                                    <input type="number" name="Order" value="{{i.Order}}" class="bg-[#0e203c] font-bold flex text-[18px] items-center text-white py-1 rounded-full border-[1px] border-sky-500 w-[80px] h-[30px]"  />
                                    <button type="submit" class="absolute right-0 bg-sky-500 stroke-[#0e203c] w-[30px]  rounded-r-full">
                                        <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" points="8.5,3 17.5,12 8.5,21 "  stroke-miterlimit="10" stroke-width="2"></polyline></svg>
                                    </button>
                                </div>
                            </form>
                            <form method="post"  action="{% url 'image_slider_remove_admin' %}" class="absolute top-3 right-3 w-[30px] fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}" class="" />
                                <button type="submit" class="fill-red-500 w-[30px]">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.434 72.437" style="enable-background:new 0 0 72.434 72.437;" xml:space="preserve">
                                        <path style="" d="M36.22,0C16.212,0,0,16.215,0,36.223c0,19.999,16.212,36.214,36.22,36.214
                                            s36.214-16.215,36.214-36.214C72.434,16.215,56.228,0,36.22,0z M51.812,48.083l-4.565,4.565l-11.02-11.021L24.86,52.995
                                            l-4.565-4.565l11.367-11.367L20.639,26.04l4.568-4.565l11.02,11.02l11.349-11.343l4.565,4.565L40.792,37.063L51.812,48.083z"></path>
                                        </svg>
                                </button>
                            </form>
                            <img alt="Hình ảnh " src="{{i.Photo.url}}" class="w-full h-auto" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col lg:flex-row gap-3 mt-3">
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="1" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*"  name="list_image_slider_1_1" />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Thêm
                            </button>
                        </form>
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="1" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*" multiple name="list_image_slider_1"  />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Cập nhật danh sách mới
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <span href="{% url 'image_slider_admin' %}" class="font-semibold text-[18px] hover:underline">
                2.Dòng tiêu đề
            </span>
            <div class="flex flex-col gap-2">
                <form method="post" action="{% url 'change_home_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3 lg:w-[50%] w-full">
                    {% csrf_token %}
                    <input type="text" value="{{obj.Title}}" class="rounded-md w-full"    name="Title" />
                    <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                        Cập nhật tiêu đề
                    </button>
                </form>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <span href="{% url 'image_slider_admin' %}" class="font-semibold text-[18px] hover:underline">
                3.Ảnh Slider giữa trang
            </span>
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-1">
                        {% for i in list_image_slider_2 %}
                        <div class="relative w-full h-auto">
                            <form method="post"  action="{% url 'image_slider_order_admin' %}" class="absolute top-3 left-3 flex gap-1 items-center fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}"  />
                                <div class=" relative flex gap-1 items-center">
                                    <input type="number" name="Order" value="{{i.Order}}" class="bg-[#0e203c] font-bold flex text-[18px] items-center text-white py-1 rounded-full border-[1px] border-sky-500 w-[80px] h-[30px]"   />
                                    <button type="submit" class="absolute right-0 bg-sky-500 stroke-[#0e203c] w-[30px]  rounded-r-full">
                                        <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" points="8.5,3 17.5,12 8.5,21 "  stroke-miterlimit="10" stroke-width="2"></polyline></svg>
                                    </button>
                                </div>
                            </form>
                            <form method="post"  action="{% url 'image_slider_remove_admin' %}" class="absolute top-3 right-3 w-[30px] fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}" class="" />
                                <button type="submit" class="fill-red-500 w-[30px]">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.434 72.437" style="enable-background:new 0 0 72.434 72.437;" xml:space="preserve">
                                        <path style="" d="M36.22,0C16.212,0,0,16.215,0,36.223c0,19.999,16.212,36.214,36.22,36.214
                                            s36.214-16.215,36.214-36.214C72.434,16.215,56.228,0,36.22,0z M51.812,48.083l-4.565,4.565l-11.02-11.021L24.86,52.995
                                            l-4.565-4.565l11.367-11.367L20.639,26.04l4.568-4.565l11.02,11.02l11.349-11.343l4.565,4.565L40.792,37.063L51.812,48.083z"></path>
                                        </svg>
                                </button>
                            </form>
                            <img alt="Hình ảnh " src="{{i.Photo.url}}" class="w-full h-auto" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col lg:flex-row gap-3 mt-3">
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="2" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*"  name="list_image_slider_2_2" />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Thêm
                            </button>
                        </form>
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="2" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*" multiple name="list_image_slider_2"  />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Cập nhật danh sách mới
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <span href="{% url 'tab_best_sellers_client' %}" class="font-semibold text-[18px] hover:underline">
                4.Ảnh Banner
            </span>
            <form method="post" action="{% url 'image_content_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-2 lg:w-[50%] w-full">
                {% csrf_token %}
                <input type="hidden" name="Count" value="1" class="" />
                <div class="flex flex-col lg:flex-row gap-5">
                    <div class="flex flex-col gap-2 w-full">
                        <!-- <span class="font-semibold">- Hình ảnh 1</span> -->
                        <div class="flex flex-col gap-1 w-full">
                            <img alt="Hình ảnh 3" src="{% if obj_Count_1.Photo3  %}{{obj_Count_1.Photo3.url}}{% endif %}" class="w-full h-auto" />
                            <input type="file" class="rounded-md w-full"  accept="image/*" name="Photo3"  />
                        </div>
                        <!-- <textarea name="Content3" class="autoresize rounded-md" placeholder="Nội dung 3">{{obj_Count_1.Content3|default:''}}</textarea> -->
                    </div>
                </div>
                <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                    Cập nhật
                </button>
            </form>
        </div>
        <div class="flex flex-col gap-1">
            <span href="{% url 'image_slider_admin' %}" class="font-semibold text-[18px] hover:underline">
                5.Ảnh Slider cuối trang
            </span>
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-1">
                        {% for i in list_image_slider_3 %}
                        <div class="relative w-full h-auto">
                            <form method="post"  action="{% url 'image_slider_order_admin' %}" class="absolute top-3 left-3 flex gap-1 items-center fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}"  />
                                <div class=" relative flex gap-1 items-center">
                                    <input type="number" name="Order" value="{{i.Order}}" class="bg-[#0e203c] font-bold flex text-[18px] items-center text-white py-1 rounded-full border-[1px] border-sky-500 w-[80px] h-[30px]"   />
                                    <button type="submit" class="absolute right-0 bg-sky-500 stroke-[#0e203c] w-[30px]  rounded-r-full">
                                        <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" points="8.5,3 17.5,12 8.5,21 "  stroke-miterlimit="10" stroke-width="2"></polyline></svg>
                                    </button>
                                </div>
                            </form>
                            <form method="post"  action="{% url 'image_slider_remove_admin' %}" class="absolute top-3 right-3 w-[30px] fill-red-500">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{i.id}}" class="" />
                                <button type="submit" class="fill-red-500 w-[30px]">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.434 72.437" style="enable-background:new 0 0 72.434 72.437;" xml:space="preserve">
                                        <path style="" d="M36.22,0C16.212,0,0,16.215,0,36.223c0,19.999,16.212,36.214,36.22,36.214
                                            s36.214-16.215,36.214-36.214C72.434,16.215,56.228,0,36.22,0z M51.812,48.083l-4.565,4.565l-11.02-11.021L24.86,52.995
                                            l-4.565-4.565l11.367-11.367L20.639,26.04l4.568-4.565l11.02,11.02l11.349-11.343l4.565,4.565L40.792,37.063L51.812,48.083z"></path>
                                        </svg>
                                </button>
                            </form>
                            <img alt="Hình ảnh " src="{{i.Photo.url}}" class="w-full h-auto" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col lg:flex-row gap-3 mt-3">
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="3" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*"  name="list_image_slider_3_3" />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Thêm
                            </button>
                        </form>
                        <form method="post" action="{% url 'image_slider_admin' %}" enctype="multipart/form-data" class="flex flex-col gap-3">
                            {% csrf_token %}
                            <input type="hidden" name="Count" value="3" class="" />
                            <input type="file" class="rounded-md w-full"  accept="image/*" multiple name="list_image_slider_3"  />
                            <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                                Cập nhật danh sách mới
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.open_input_Size').on('click', function() {
            $('.input_Size').toggle(); // Bật nếu ẩn, ẩn nếu bật
        });
    });
</script>
<script>
    function autoResize(el) {
        el.style.height = 'auto';
        el.style.height = el.scrollHeight + 'px';
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('textarea.autoresize').forEach(function (el) {
            autoResize(el);
            el.addEventListener('input', () => autoResize(el));
        });
    });
</script>
{% endblock %}