{% extends './base.html' %}
{% block title %}Thêm Sản phẩm{% endblock %}
{% block content %}
<div class="w-full flex-col min-h-screen">
    <div class="flex flex-col lg:flex-row items-center  lg:justify-between border-b-[1px] border-[#0e203c] lg:max-h-[50px] px-3 py-2 font-bold">
        <span class="uppercase w-full flex justify-center lg:justify-start">
            Trang thêm sản phẩm
        </span>
        <div class="flex items-center gap-3 max-h-[60px] lg:max-h-none">
            <div class="flex items-center justify-center rounded-full border-[1px] border-[#0e203c] px-2">
                <input class="font-medium text-sm" placeholder="Tìm kiếm"
                    style="border: none !important; outline: none !important; background: transparent;" />
                <svg class="w-[25px]" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                    <g>
                        <path
                            d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z">
                        </path>
                    </g>
                </svg>
            </div>
            <a href="{% url 'product_add_admin' %}">
                <svg class="w-[35px] fill-[#0e203c]" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.533px" height="438.533px"
                    viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;"
                    xml:space="preserve">
                    <g>
                        <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0
                            c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267
                            c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407
                            s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062
                            C438.533,179.485,428.732,142.795,409.133,109.203z M347.179,237.539c0,4.948-1.811,9.236-5.428,12.847
                            c-3.62,3.614-7.901,5.428-12.847,5.428h-73.091v73.084c0,4.948-1.813,9.232-5.428,12.854c-3.613,3.613-7.897,5.421-12.847,5.421
                            h-36.543c-4.948,0-9.231-1.808-12.847-5.421c-3.617-3.621-5.426-7.905-5.426-12.854v-73.084h-73.089
                            c-4.948,0-9.229-1.813-12.847-5.428c-3.616-3.61-5.424-7.898-5.424-12.847v-36.547c0-4.948,1.809-9.231,5.424-12.847
                            c3.617-3.617,7.898-5.426,12.847-5.426h73.092v-73.089c0-4.949,1.809-9.229,5.426-12.847c3.616-3.616,7.898-5.424,12.847-5.424
                            h36.547c4.948,0,9.233,1.809,12.847,5.424c3.614,3.617,5.428,7.898,5.428,12.847v73.089h73.084c4.948,0,9.232,1.809,12.847,5.426
                            c3.617,3.615,5.428,7.898,5.428,12.847V237.539z"></path>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>
            </a>
        </div>
        <style>
            input:focus {
                outline: none !important;
            }
        </style>
    </div>
    <div class="flex justify-center  h-full">
        <form method="post" action="{% url 'product_add_admin' %}" enctype="multipart/form-data" class="flex flex-col  items-center w-[500px] gap-3 pt-[20px]">
            {% csrf_token %}
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Tên sản phẩm
                </label>
                <input type="text" name="Name" class="rounded-md w-full" required />
            </div>
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Chi tiết
                </label>
                <input type="text" name="Title" class="rounded-md w-full" required />
            </div>
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Danh mục sản phẩm
                </label>
                <input type="text" name="Category" class="rounded-md w-full" required />
            </div>
            <!-- <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Giá sản phẩm
                </label>
                <input type="number" name="Price" class="rounded-md w-full" required />
            </div> -->
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Giới thiệu sản phẩm
                </label>
                <textarea class="rounded-md w-full h-[60px] p-3" name="Introduce" required></textarea>
            </div>
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Mô tả sản phẩm
                </label>
                <textarea class="rounded-md w-full h-[60px] p-3" name="Describe" required></textarea>
            </div>
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Thành phần chính
                </label>
                <textarea class="rounded-md w-full h-[60px] p-3" name="Main_ingredients" required></textarea>
            </div>
            <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Cách sử dụng
                </label>
                <textarea class="rounded-md w-full h-[60px] p-3" name="How_use" required></textarea>
            </div>
            <!-- <div class="flex flex-col justify-center items-center w-full">
                <label class="font-semibold">
                    Bảng thành phần
                </label>
                <textarea class="rounded-md w-full h-[60px] p-3" name="Ingredients_table" required></textarea>
            </div> -->
            <div class="flex gap-1 bg-white p-2 rounded-md border-[1px] border-[#6b7280]">
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Ảnh đại diện
                    </label>
                    <input type="file" class="rounded-md w-full" accept="image/*" name="Avatar" required />
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Ảnh sản phẩm
                    </label>
                    <input type="file" class="rounded-md w-full" multiple accept="image/*" name="List_Photo" required />
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Ảnh NCLS
                    </label>
                    <input type="file" class="rounded-md w-full" multiple accept="image/*" name="List_Photo_NCLS" required />
                </div>
            </div>
            <button type="submit"
                class="p-2 rounded-md bg-green-500 font-semibold text-sm hover:cursor-pointer w-[100px]">Thêm</button>
        </form>
    </div>
</div>
{% endblock %}